/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #15202B; /* Fondo oscuro */
    color: #E1E8ED; /* Blanco suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
  }

  

  
  /* Botones generales */
  .btn-open-login, .btn-open-register {
    padding: 10px 20px;
   background: none;
    color: #E1E8ED; /* Blanco suave */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  .btn-open-login:hover, .btn-open-register:hover {
    background-color: #E77D3E; /* Naranja más oscuro */
  }
  
  /* Estilos para el modal */
  .modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #192734; /* Fondo interno oscuro */
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Botón de cerrar */
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #E1E8ED;
    cursor: pointer;
  }
  
  /* Títulos en los modales */
  h1 {
    text-align: center;
    color: #E1E8ED; /* Blanco suave */
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Estilos para los grupos de entrada */
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    color: #8899A6; /* Gris claro */
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #253341; /* Borde gris oscuro */
    border-radius: 5px;
    background-color: #2C3E50; /* Fondo oscuro en inputs */
    color: #E1E8ED; /* Texto blanco */
    font-size: 16px;
  }
  
  /* Efecto de foco en los inputs */
  input:focus {
    border-color: #FF914D; /* Borde naranja al enfocar */
    outline: none;
  }
  
  /* Botón de envío en el formulario */
  button.btn {
    width: 100%;
    padding: 12px;
    background-color: #FF914D; /* Naranja suave */
    color: #E1E8ED; /* Blanco */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.btn:hover {
    background-color: #E77D3E; /* Naranja más oscuro */
  }
  
  /* Estilos para enlaces secundarios (registro o inicio de sesión) */
  .register-link, .login-link {
    text-align: center;
    color: #8899A6; /* Gris claro */
    font-size: 14px;
    margin-top: 15px;
  }
  
  .register-link a, .login-link a {
    color: #FF914D; /* Naranja para enlaces */
    text-decoration: none;
  }
  
  .register-link a:hover, .login-link a:hover {
    text-decoration: underline;
  }
  