/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #15202B; /* Azul oscuro grisáceo */
    color: #E1E8ED; /* Blanco suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form-container {
    background-color: #192734; /* Azul medianoche */
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    color: #E1E8ED; /* Blanco suave */
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    color: #8899A6; /* Gris claro */
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #253341; /* Azul grisáceo suave */
    border-radius: 5px;
    background-color: #2C3E50; /* Fondo oscuro para inputs */
    color: #E1E8ED; /* Blanco suave */
    font-size: 16px;
  }
  
  input:focus {
    border-color: #FF914D; /* Naranja suave al enfocarse */
    outline: none;
  }
  
  button.btn {
    width: 100%;
    padding: 12px;
    background-color: #FF914D; /* Naranja suave */
    color: #E1E8ED; /* Blanco suave */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.btn:hover {
    background-color: #E77D3E; /* Naranja más oscuro al pasar el mouse */
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link a {
    color: #FF914D; /* Naranja suave */
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  